__pycache__
.vscode
dist
.ipynbcheckpoints
render_logs

my_example.py
.pypirc
*.egg-info
*.pkl
*.ai

# user define
materials/

.python-version
uv.lock
# *.txt
.venv
src/legacy/
src/ingest/
gym_trading_env.txt
readme_images/
examples/
docs/
temp/
forexpy/
markdown/